#-e git://github.com/fusionbox/django-fusionbox.git#egg=django_fusionbox
mezzanine==3.0.8
Django==1.6.2
South
pysqlite
Werkzeug    #django-extensions
#django-cachebuster
django-compressor
django-debug-toolbar==1.0.1
#django-email-bandit
django-extensions==1.3.3
#django-grappelli
#django-secure
django-dotenv==1.2
#pyScss
#dj-database-url
### Fabric
#fusionbox-fabric-helpers
### Raven for sentry error reporting
#raven
### AWS/Heroku
psycopg2
#gunicorn
#boto
#django-storages
#django-herokuify
#pylibmc
#newrelic
#django-postgrespool
### Running the app from the Procfile
#honcho
### Django pep8 testing
django-test-pep8==0.1
#python-memcached
#flup
fabric==1.8.1
